<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBNKTpzZSO8FiLnGnT9kiQa537K6V6X2Fw</string>
	<key>GCM_SENDER_ID</key>
	<string>576445470202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.kidville.app</string>
	<key>PROJECT_ID</key>
	<string>kidville-registro-elettronico</string>
	<key>STORAGE_BUCKET</key>
	<string>kidville-registro-elettronico.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:576445470202:ios:c511dca16cc3d820e90043</string>
</dict>
</plist>